:root {
  --bg-color: rgb(255, 249, 227);
  --variant-color: #f4a261;
  --primary-color: #264653;
  --secondary-color: #2a9d8f;
  --text-color: #0f1c22;
}

@font-face {
  font-family: HeaderFont;
  src:url('/static/HelveticaNeueBold.otf');
  font-display: swap
}



* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(242, 217, 191);
  height: 100%;
  margin: 0px;
}

section{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(242, 217, 191);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

#rectangle{
  display: flex;
  position: absolute;
  transition: all 0.5s ease-in-out;
  animation: showcaseAppearUp 0.5s ease-in-out forwards;
  animation-delay: 3.2s;
  height: 40px;
}
#streak{
  position: absolute;
  height: 100%;
  width: 20px;
  filter: blur(5px);
  background-color: #f2d9bf;
  transform: rotateX(30deg) translateX(-30px);
  animation: streak 0.4s ease-in-out forwards;
  animation-iteration-count: 2;
  animation-delay: 2.5s;

}

.introText{
  font-family: HeaderFont, sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

#mainshowcase{
}

#showcase,#showcase2{
  position: absolute;
  color: white;
  background-color: #c6a583;
  overflow: hidden;
  text-wrap-mode: nowrap;
  height: 40px;
  width: 230px;
}

#showcase{
  right: 0;
  animation: showcase 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

#showcase2{
  top: 0;
  animation: showcaseUp 0.5s ease-in-out forwards;
  animation-delay: 1.5s
}

.text {
  color: var(--text-color);
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to top,
      rgba(242, 217, 191, 1),
      rgba(255, 255, 255, 0)
    ),
    url("/static/images/BackgroundHeader.jpg");
  background-position-y: 1100px;
}

#headerContent {
  margin: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
  animation: show 0.8s ease-in-out forwards;
  animation-delay: 3.7s;
  overflow: hidden;
  width: 80px;
  text-wrap-mode: nowrap;
  transform: translateY(-100px);
}

img {
  height: 80px;
}

#profile {
  display: flex;
  align-items: center;
}

#profileDetails {
  display: flex;
  flex-direction: column;
}

#profileName {
  font-size: 1.8rem;
}

#profileDescription {
  font-size: 0.8rem;
  font-weight: bold;
}

#links {
  display: flex;
  gap: 10px;
}

#callToAction {
  height: 50%;
}
button {
  height: 100%;
  border-radius: 10px;
  background-color: var(--variant-color);
  border: none;
  cursor: pointer;
}


/* KEYFRAMES */

@keyframes showcaseAppearUp {
  50%{
    transform: translateY(40px);
  }
  100%{
    height: 90%;
  }
}
@keyframes showcase {
  99%{
    width: 0px;
  }
  100%{
    width: 0px;
  }
}

@keyframes showcaseUp {
  99%{
    height: 0px;
  }
  100%{
    height: 0px;
  }
}

@keyframes show{
  50%{
    transform: translateY(0);
    width: 80px
  }
  100%{
    width: 560px;
    transform: translateY(0)
  }
}
 
@keyframes streak{
  100%{
    transform: rotateX(30deg) translateX(300px)
  }
}

@media (max-width: 768px) {
  header {
    height: 70px;
    background-position-y: 1120px;
    background-color: none;
  }

  #headerContent {
    width: 50px
  }
  @keyframes show{
    50%{
      transform: translateY(0);
      width: 50px;
    }
    100%{
      width: 560px;
      transform: translateY(0)
    }
  }
  img {
    height: 50px;
  }

  #profileName {
    font-size: 1.1rem;
  }
  #profileDescription {
    font-size: 0.6rem;
  }
  .linkText {
    font-size: 0.69rem;
  }
  @keyframes showcaseAppearUp {
    50%{
      transform: translateY(40px);
    }
    100%{
      height: 95%;
    }
  }
}
